<!DOCTYPE html>
<html>
  <head>
    <title>Film Movement Database</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
  </head>
  <% if controller_name == "sessions" %>
    <body>
      <%= yield %>
    </body>
  <% else %>
    <body>
      <div id="current-user">
        <span id="id"><%= current_user ? current_user.id : "" %></span>
        <span id="access"><%= current_user ? current_user.access : "" %></span>
      </div>
      <div id="admin-framework">
        <div id="admin-row" class="row">
          <div id="admin-sidebar" class="col-xs-2 match-height-layout">
            <div id="admin-sidebar-header"></div>
            <div id="admin-sidebar-body">
              <ul>
                <li><a href="/films">Films</a></li>
                <li><a href="/shorts">Shorts</a></li>
                <li><a href="/tv_series">TV Series</a></li>
                <li><a href="/licensors">Licensors</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/venues">Venues</a></li>
                <li><a href="/bookings">Bookings</a></li>
                <li><a href="/bookers">Bookers</a></li>
                <li><a href="/in_theaters">In Theaters</a></li>
                <li><a href="/dvd_customers">DVD Customers</a></li>
                <li><a href="/shipping_addresses">DVD Ship Addresses</a></li>
                <li><a href="/purchase_orders">DVD POs</a></li>
                <li><a href="/returns">DVD Returns</a></li>
                <li><a href="/dvd_reports">DVD Reports</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/invoices">Invoices</a></li>
                <li><a href="/sublicensors">Sublicensors</a></li>
                <li><a href="/giftboxes">Gift Boxes</a></li>
                <li><a href="/merchandise_items">Merchandise</a></li>
                <li><a href="/users">Users</a></li>
                <% if current_user.access == "super_admin" %>
                  <li><a href="/royalty_reports">Royalties</a></li>
                  <li><a href="/royalty_reports/codes">GL Codes</a></li>
                <% end %>
                <hr />
                <li><a href="/convert">Convert Digital Sales</a></li>
                <li><a href="/aliases">Aliases</a></li>
                <hr />
                <li><a href="/settings">Settings</a></li>
              </ul>
            </div>
          </div>
          <div id="admin-right-column" class="col-xs-10 match-height-layout">
            <nav id="admin-navbar" class="clearfix">
              <div id="admin-navbar-menu">
                <div id="current-user-dropdown">
                </div>
              </div>
            </nav>
            <div id="admin-right-column-content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </body>
  <% end %>
  <% if current_page?(:controller => '/royalty_reports', :action => 'index') %>
    <div id="upload-form-sage" class="hidden">
      <%= form_for User.second do |f| %>
        <%= f.file_field :file %>
        <input id="quarter" name="quarter" type="hidden" />
        <input id="year" name="year" type="hidden" />
        <input id="label" name="label" type="hidden" />
        <input id="submit-button-sage" type="submit" />
      <% end %>
    </div>
  <% end %>
  <% if current_page?(:controller => '/purchase_orders', :action => 'index') %>
    <div id="upload-form-inventory" class="hidden">
      <%= form_for User.third do |f| %>
        <%= f.file_field :file %>
        <input id="submit-button-inventory" type="submit" />
      <% end %>
    </div>
  <% end %>
</html>
